*{margin:0;padding:0;box-sizing:border-box;}
body {
	color: #222;
	font-family:'Libre Baskerville', serif;
	font-size:18px;
}
nav {
	background-color: rgb(34,34,34);
	color: rgb(255,255,255);
	padding: .5em;
	font-family:'Libre Baskerville', serif;
}
#logo {
	float:left;
	padding:.25em;
	width:110px;
	height:60px;
	overflow:hidden;
}
ul {
	list-style-type:none;
}
nav a {
	border:2px solid rgba(255,255,255,0);
	color: rgb(255,255,255);
	text-decoration:none;
	padding: 20px;
}
nav a:hover {
	border-color:rgb(255,255,255);
	transition-duration:.5s; 
	border: 2px solid;
}
nav ul { 
	float:right; 
}
nav li {
	float:left;
	padding: 20px;		
	margin: 0;
}
h1 {
	font-family: 'Parisienne', cursive;
	font-size: 4em;
}
#splash {
	color: rgb(255,232,232);
	text-align: center;
	font-weight:700;
	background: url(images/moabbw3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position:center;
	padding: 250px 175px 200px;
	margin: auto;
}

#slogan {
	font-family:'Libre Baskerville', serif;
	font-size: 1.3em;
	padding-top: .5em 0 3em 0;
	font-weight:700;
}
.button, .aboutbutton, .emailbutton {
	border: 2px solid;
	display:block;
	font-family: 'Libre Baskerville', serif;
	font-size: 1em;
	margin:1em auto;
	padding: .5em .5em;
	text-align:center;
	text-decoration:none;
}
.button {
	border-color: rgb(255,232,232);
	max-width: 22em;
	color: rgb(255,232,232);
}
.aboutbutton {
	border-color: #222;
	max-width: 15em;
	color: #222;
}
.emailbutton {
	border-color: #222;
	max-width: 15em;
	color: #222;
}
.button:hover, .aboutbutton:hover, .emailbutton:hover {
	background:rgb(39,204,172);
	border-color: rgb(39, 204, 172);
	color:#fff;
	transition-duration:.5s;
}

#about div {
	padding:1em 1em .5em 1em;
}

#hello {
	font-family: 'Parisienne', cursive;
	font-style: italic;
	font-size: 3em;
	color: rgb(255,90,95);
	text-align: center;
	padding:1em 0 .5em 0;
}

.claim {
	margin:0 auto;
	max-width:28em;
	padding-bottom: 1.5em;
}

#photos div {
	background-color: rgba(0,0,0,.7);
	margin: auto;
	padding:1em 1em 1.5em 1em;
}
#photos ul {
	margin:0 auto;
	/*max-width:1400px;*/
}
#photos li {
	float:left;
	padding:.25em;
	width:25%;
}
#photos li img {
	width:100%;
}

#lense {
	font-family: 'Parisienne', cursive;
	font-size: 2.5em;
	color: rgb(255,232,232);
	text-align: center;
	padding:.5em 0 1em 0;
}

#contact div {
	margin: auto;
	text-align: center;
	padding: 1em 1em .5em 1em;
}

#hi {
	font-family: 'Parisienne', cursive;
	font-size: 3em;
	color: rgb(255,90,95);
	text-align: center;
	padding: 1em 0 .5em 0;
}

#communication {
	padding-bottom: 3em;
}

#communication a{
	font-weight: bold;
	color: #222;
	text-decoration: none;
}

#communication a:hover{
	color: rgb(39,204,172);
	transition-duration: .5s;
}

#shy {
	padding-bottom: 1.5em;
}

.sharingIcons {
	width:100%;
	display:block;
	box-sizing:inherit;
	color:#ff5a5f;
}

.sharingIcons a{
	text-decoration: none;
	color:#ff5a5f;
	font-size:4em;
	float:left;
	margin:7.5%;
}

footer {
	background-color: #222;
	color: rgb(255,255,255);
	padding: .5em;
	text-align: right;
	font-family: 'Libre Baskerville', serif;
}
.mobile-nav {
	display: none;
}

.menu-btn {
	background: rgb(34,34,34);
	box-shadow: 0 19px 38px rgba (0,0,0,0,.30), 0 15px 12px rgba(0,0,0,0,.22);
	padding: 1em;
}

.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}
 
.menu-btn span {
	display: block;
	width: 1em;
	height: .25em;
	margin: .25em 0;
	background: rgb(255,255,255);
	z-index: 99;
}
 
.responsive-menu{
	display: none;
	background:#fff;
	padding:1em;
}
.responsive-menu li a {
	display:inline-block;
	padding:.5em;
	margin:.5em;
	text-decoration:none;
}
.expand {
	display: block !important; 
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
@media only screen and (min-width:500px) and (max-width: 832px) {
	#photos li {
		width:50%;
	}
	.mobile-nav {
		display: block;
		position: fixed, top:0, left:0, right:0;
	}
	nav {display: none;}
	#splash {
		background: url(images/moabbw3.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position:center;
		padding:250px 0 200px;
	}
}
@media only screen and (min-width:320px) and (max-width: 499px) {
	.mobile-nav {
		display: block;
		position: fixed; top:0; left:0; right:0;
	}
	#photos li {
		width:100%;
	}
	nav {display: none;}
	}
	#splash {
		background: url(images/moabbw3.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position:center;
		padding:250px 0 200px;
	}
}

