*{margin:0;padding:0;box-sizing:border-box;}
body {
	color: #222;
	font-family:'Raleway', sans-serif;
	font-size:18px;
}
nav {
	background-color: #222;
	color: rgb(255,255,255);
	padding: 1em;
	font-family: 'Montserrat', sans-serif;
}
ul {
	list-style-type:none;
}
nav ul { float:right; }
nav li {
	float:left;
	padding: 1em;		
	margin: 1em 1em;
}
#splash {
	text-align: center;
	font-size: 1.5em;
	font-weight:700;
	background: url(images/moabbw.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 175px;
	margin: auto;
}

#slogan {
	font-size: 1em;
	padding-top: .5em 0 3em 0;
	font-weight:700;
}

.button {
	font-size: 1em;
	padding: 1em 2em;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 22em;
	margin: auto;
	border-color: #222;
	border-style: solid;
	font-family: 'Montserrat', sans-serif;
}

#about div {
	margin: auto;
	text-align: center;
	padding:1em 1em .5em 1em;
}

#hello {
	font-style: italic;
	font-size: 3em;
	color: rgb(255,90,95);
	text-align: center;
	padding:1em 0 .5em 0;
}

#claim {
	padding-bottom: 1.5em;
}

.aboutbutton {
	border: 2px solid #222;
	display: block;
	padding: 1em 2em;
	margin:1em auto;
	width: 15em;
	font-family: 'Montserrat', sans-serif;
}

#photos div {
	background-color: rgba(0,0,0,.7);
	margin: auto;
	padding:1em 1em .5em 1em;
}
#photos ul {
	margin:0 auto;
	width:60em;
}
#photos li {
	float:left;
	padding:.5em;
	width:25%;
}
#photos li img {
	width:100%;
}

#lense {
	font-style: italic;
	font-size: 2.5em;
	color: rgb(39,204,172);
	text-align: center;
	padding:.5em 0 1em 0;
}

footer {
	background-color: #222;
	color: rgb(255,255,255);
	padding: .5em;
	text-align: right;
	font-family: 'Montserrat', sans-serif;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
