*{margin:0;padding:0;box-sizing:border-box;}

body {
	background: url("images/moabbw.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font: "Lato", sans-serif;
}

#splash {
	text-align: left;
	font-family:'Calligraffitti', cursive;
	font-size: 26px;
	padding:10px;
}

#about {
	font-family: 'Lato', sans-serif;
}

h1 {
	color: 11733C;
}