*{margin:0;padding:0;box-sizing:border-box;}

#nav {
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
	padding: 5vh;
	text-align: right;
}

li {
	display: inline;
	padding: 2vh;
	text-align: right;
	margin: 5vh;
	margin-top:5vh;
	margin-bottom: 5vh
}

body {
	background: none;
	color: rgb(0,0,0);
}

#splash {
	text-align: center;
	font-family:'Raleway', sans-serif;
	font-size: 26px;
	font-style: bold;
	padding:10px;
	padding-top: 10px;
	background: url(images/moabbw.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 300px;
	margin: auto;
}

#slogan {
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 40px;
	font-style: bold;
}

#button {
	font-size: 18px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 5px;
	padding-left: 5px;
	border-width: 2px;
	border-color: rgb(0,0,0);
	border-style: solid;
	font-style: none;
}

#about div {
	font-family:'Raleway', sans-serif;
	background: none;
	padding-top: 5vh;
	padding-bottom: 5vh;
	margin: auto;
	width: auto;
	height:100vh;
}

#hello {
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	font-size: 26px;
	color: rgb(255,90,95);
	text-align: center;
	padding-bottom: 10px;
	padding top: 10px;
}

