h1 {
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-family: "Travel Diary";
	font-style: italic;
	font-size: 50px
}

#slogan {
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-family: "Open Sans";
	text-transform: capitalize;
	font-size: 27px
}

hr {
	width: 300px
}

body {
	background: url("http://valeryscafe.com/sites/default/files/imagecache/product_full/Banana-Pancakes.jpg");
	background-size: 100%;
}