* {margin:0;padding:0;box-sizing:border-box;}
body {
	background: url("http://s.hswstatic.com/gif/how-to-make-pastry-dough-2.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	color: #8F074B;
	text-align: center;
	font-weight: bold;
	font-family: "Travel Diary", serif;
	font-size: 60px;
}
li {
	margin-left:1em;
}

#slogan {
	text-align: center;
	color: #8F074B;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 27px;
}

#splash {
	height:50vh;
}

#list {
	background:rgba(232,12,122,.5);
}
#list div {
	margin:auto;
	width:400px;
}

