* {margin:0;padding:0;box-sizing:border-box;}
body {
	background: url("http://valeryscafe.com/sites/default/files/imagecache/product_full/Banana-Pancakes.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-family: "Travel Diary", serif;
	font-size: 60px;
}
li {
	margin-left:1em;
}

#slogan {
	text-align: center;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 27px;
}

#splash {
	height:50vh;
}

#splash div {

}
#list {
	background:rgba(0,0,0,.5);
}
#list div {
	margin:auto;
	width:400px;
}

