#slogan {
	font-style: italic;
}

h1 {
	font-family: Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

body {
	background: url("http://valeryscafe.com/sites/default/files/imagecache/product_full/Banana-Pancakes.jpg");
	background-size: cover;
	color: #fff;
	font-family: Georgia;
	font-size: 22px
}

hr {
	width: 300px;
}

#contact {
	font-size: 16px
	font-family: Helvetica;
}